{% extends "admin_page.html" %}
{% block content %}
<div class="row">
    <form method="post" enctype="multipart/form-data" action="{{ url_for('add_products') }}" >
        {{form.hidden_tag()}}
        {{form.name.label(class='form-label')}}
        {{ form.name(class='form-control')}}
        <br/>
        {{form.price.label(class='form-label')}}
        {{ form.price(class='form-control')}}
        <br/>
        {{form.description.label(class='form-label')}}
        {{ form.description(class='form-control' ,value=" write some description for this product")}}
        <br/>
        {{form.number.label(class='form-label')}}
        {{ form.number(class='form-control')}}
        <br/>

 {{ form.image.label }}: {{ form.image(style='display:inline;') }}
        <br/>
        {{form.category.label(class='form-label')}}:{{ form.category(class='form-control')}}
        <br/>
        {{ form.submit(class=" btn btn-primary")}}
    </form>



</div>
{% endblock content %}
