{% extends "layout.html" %}
{% block content %}


    <h1> Please contact us for any question</h1>>
    <div class=" row">
    <p> contact person: jun li</p>
        <br/>
    </div>
    <div class="row"><p> contact number: +86 15552341537</p>
    <br/>
    </div>
<div class="row">
    <p> email address: tinychemical@gmail.com</p>
    <br/>
</div>
    <div class="row">
    <p> address: room 1001 bejingmima Daxing District, Beijing, China</p>
    <br/>
    </div>


		<div id="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3471.6110421861!2d116.41180533293749!3d39.6811480807346!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67c706c769c0c4bc!2z5YyX5Lqs5a-G56CB!5e0!3m2!1sen!2sus!4v1626890491076!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
{% endblock %}