{% extends "layout.html" %}
{% block content %}
<div class="row">
    {% for product in products.items %}
    

        <div class="col-sm">
	        <div class="card">
			  	<img src="/static/uploads/{{product.image}}" class="card-img-top" alt="...">
			  	<div class="card-body">
					<div>
						<b>
						{{ product.name }}
						</b>
					</div>					    
				    <p class="card-text">{{ product.description }}</p>
					<div id="addToCart">
						<a href="/addToCart/{{product.id}}">Add to cart</a>
					</div>
        		</div>
			</div>
		</div>

	
            


    {% endfor %}
</div>
{%for page in products.iter_pages() %}
{% if page %}
<a href="#">{{page}}</a>
{% endif %}
{% endfor%}
{% endblock content %}
